body{
position: relative;
margin: 0;
min-width: 1200px;
font-family: 'Comfortaa', cursive;
color: white;
background-image: url("img/3436014.jpg");
background-size: contain; 
background-position: top center; 
background-repeat:no-repeat;
background-color: black;

}


hr{
  background-color: white;
  width:800px;
}

.button {
  position: relative;
  left:210px;
  bottom:200px;
  margin: 0;
  padding: 8px 24px;
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0b0c23;
  background-color: #f9dd79;
  box-shadow: 0 4px 16px rgba(249, 221, 121, 0.4);
  border-radius: 24px;
  transition: background-color 100ms, box-shadow 100ms;

}

.container {
  max-width: 1200px;  
  padding: 0 16px;
  margin: 0 auto;

}

.hero-image {
margin-top: 90px;
margin-bottom: 150px;
font-size: 45px;
text-shadow: #000000 4px 3px 5px;
text-align: left;
margin-left: 100px;
margin-right: 700px;

}

.heading  {
  width: 815px;
  font-size: 75px;
  line-height: 112px;
  font-weight: 700;
  margin-bottom: 74px;

}

.header-email,
.footer-email {
  padding-left: 28px;
  background-image: url("img/icon-email.svg");

}

.header-email:focus,
.header-email:hover,
.footer-email:focus,
.footer-email:hover {
  background-image: url("img/icon-email-alt.svg");

}

.header-phone,
.footer-phone {
  padding-left: 21px;
  background-image: url("img/icon-phone.svg");

}

.header-phone:focus,
.header-phone:hover,
.footer-phone:focus,
.footer-phone:hover {
  background-image: url("img/icon-phone-alt.svg");

}

.footer-email a, .footer-phone a,
.header-email a, .header-phone a {
color: white;
text-align: right;

}

.level {
  margin: 0 0 40px;
  height: 24px;
  text-align: right;
  background-color: #000000;
  box-shadow: inset 0 0 12px #e6f5f2;
  border-radius: 12px;
  overflow: hidden;
}

.page-header{
  margin: 0;
  padding: 40px 0;
}

.page-footer{
  margin:0;
  padding: 40px 0;
  background-color: #3e3e3e;
  vertical-align: center;
  border-top: 3px solid white;
}

.page-header a,
.page-footer a {
  position: relative;
  margin-right: 64px;
  padding-bottom: 10px;
  padding-top: 9px;
  font-weight: 500;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  color: inherit;
}

.page-header a:focus,
.page-header a:hover,
.page-footer a:focus,
.page-footer a:hover {
  color: #f9dd79;

}

.page-header a::after,
.page-footer a::after {
  position: relative;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f9dd79;
  transition: width 200ms;

}

.skills {
margin-bottom: 0;
}

.skills h3 {
font-size:25px;
padding-left: 700px;
margin-bottom: 40px;
margin-top: 50px;

}

.skills-list {
  margin: 0;
  padding-top: 30px;
  padding-left: 600px;

  }

.skills-list dt {
  margin: 0 0 8px;
  padding-left: 46px;
  height: 36px;
  font-size: 24px;
  letter-spacing: 1px;
  background-repeat: no-repeat;
  background-position: left;
}
.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.skills .level div {
  margin: 0;
  height: 24px;
  letter-spacing: 1px;
  line-height: 26px;
  background-color: #5a605f;
  background-image: url("img/progress-pattern.svg");
}

.subheading {
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
  line-height: 88px;
  font-weight: 500;
  color: white;
  margin-top:20px; 
  margin-bottom: 50px;
}

.project-image h3 {
  width: 400px;
  font-size: 25px;
  position: relative;
  bottom:-100px;
  left: 700px;


}

.project-image img {
  width: 548px;
  height: 356px;
  object-fit: cover;
  border: 8px  solid white;
  border-radius: 5px;
  position: relative;
  bottom: 50px;

}

.user-image {
  position: absolute;
  margin: 0;
  
}

.user-image img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: 8px  solid white;
  border-radius: 5px;
}

.about{
text-align: right;
margin-bottom: 150px; 

 }

.mywork {
  padding-top: 40px;
  text-align: center;
  font-size: 50px;
  line-height: 88px;
  font-weight: 500;
  color: white;
}


.containerblog { 
  padding: 20px 16px;
  margin: 20px auto;
  text-align: center;
}

.myblog{
font-size: 25px;
text-align: center;
padding-bottom: 20px;
margin-bottom: 20px;

 }














